<div class="container">
  <form #signupForm="ngForm" (ngSubmit)="registerUser(signupForm)">
    
    <div class="form-group">
      <label for="name">Name</label>
      <input type="name" 
             name="name" 
             id="name" 
             [(ngModel)]="model.name" 
             appForbiddenName='bob'
             required
             #name="ngModel"
             #aliasName>
        State: {{aliasName.className}}   
    </div>


    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" 
            [(ngModel)]="model.email" 
            required 
            #emailAlias="ngModel" 
            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
            placeholder="Please email"
            #spy>
     <br/>
     State: {{spy.className}}
      <div [hidden]="emailAlias.valid || emailAlias.pristine" class="alert alert-danger">
        Email format 
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" 
             name="password" 
             id="password" 
             [(ngModel)]="model.password" 
             required>
    </div>

    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" 
             name="age" 
             id="age" 
             [(ngModel)]="model.age" 
             required>
    </div>

    <div class="form-group">
      <label for="rememberMe">Remember Me</label>
      <input type="checkbox" 
             name="rememberMe" 
             id="rememberMe" 
             [(ngModel)]="model.rememberMe">
    </div>

    <div class="form-group">
       <label for="classify">Please indicate your class</label>
       <select name="classify" 
               id="classify" 
               class="form-control"
               [(ngModel)]="model.classify">
         <option *ngFor="let pow of classifyVal" [value]="pow">{{pow}}</option>
       </select>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!signupForm.form.valid">Sign Up</button>
  </form>
<div *ngIf="diagnostic">Form data: {{ diagnostic }}</div>
  
</div>